#Field {
  width: 100vw;
  overflow: auto;
  flex-grow: 1;

  #Field_inner {

  }
}

.size-40 {
  .cell {
    height: 40px;
    width: 40px;
  }
}

.size-35 {
  .cell {
    height: 35px;
    width: 35px;
  }
}

.size-30 {
  .cell {
    height: 30px;
    width: 30px;
  }
}

.size-25 {
  .cell {
    height: 25px;
    width: 25px;
  }
}

.size-20 {
  .cell {
    height: 20px;
    width: 20px;
  }
}

.size-15 {
  .cell {
    height: 15px;
    width: 15px;
  }
}

.size-10 {
  .cell {
    height: 10px;
    width: 10px;
  }
}
