#ColorPanelBox {
  //top: calc(100vh - 100px);
  //left: 0;
  width: 100vw;
  height: 100px;
  align-items: flex-end;
  justify-content: center;


  #ColorPanel {
    background-color: rgba(0, 0, 0, 0.28);
    margin: 20px;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 10px 0;
    max-width: 500px;

    .color-elem{
      height: 40px;
      width: 40px;
    }
    .color-elem--selected{
      padding: 2px;
      border: 1px white solid;
    }
  }
}