$size: 40px;

body{
    margin: 0;
}
.div{
    display: flex;
    box-sizing: border-box;
}

.field{
    flex-direction: column;
}

.field_row{

}

.cell{
    height: $size;
    width: $size;
    border: 1px black solid;
}