
body{
    margin: 0;
}
.div{
    display: flex;
    box-sizing: border-box;
}

.field{
    flex-direction: column;
}

.field_row{

}

.cell{
    height: 20px;
    width: 20px;
    border: 1px black solid;
}